:root {
--head-color-lighttheme: #140f0f;
--text-color-lighttheme: #090808;
--body-color-lighttheme: #eeeaea;
--head-color-darktheme: #e1d6d6;
--text-color-darktheme: #fef9f9;
--body-color-darktheme: #1b1818;
--font-size: 16px;
--label-bg-color-lighttheme: transparent;
--label-bg-color-darktheme: #373041;
--label-width: 100px;
--label-height: 50px;
--label-border-width: 2px;
--label-border-color-lighttheme: #212121;
--label-border-color-darktheme: #dbf7f4;
--label-shadow-lighttheme: 0 0 1px 1px #212121;
--label-shadow-darktheme: 0 0 1px 1px #dbf7f4;
--label-after-color-lighttheme: #fcfc08;
--label-after-color-darktheme: #f3f3f3;
--label-after-shadow-lighttheme: 0 0 2px 2px #fcfc08;
--label-after-shadow-darktheme:  0 0 2px 2px #f3f3f3;
}

body {
    background: var(--body-color-lighttheme);
    margin: 0;
    transition: 1s;
}

.wrapper {
    box-sizing: border-box;
    padding: 10px 10px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.checkbox {
    display: flex;
    justify-content: flex-end;
}

label {
    position: relative;
    display: block;
    box-sizing: border-box;
    background: var(--label-bg-color-lighttheme);
    width: var(--label-width);
    height: var(--label-height);
    border: var(--label-border-width) solid var(--label-border-color-lighttheme);
    border-radius: 50px;
    transition: 0.9s;
    overflow: hidden;
}

label:hover {
    box-shadow: var(--label-shadow-lighttheme);
    cursor: pointer;
}

label::after {
    position: absolute;
    top: 0.5px;
    content: "";
    display: block;
    background: var(--label-after-color-lighttheme);
    width: calc(var(--label-width) / 2 - 2 * var(--label-border-width));
    height: calc(var(--label-height) - 2 * var(--label-border-width));
    border-radius: 50%;
    box-shadow: var(--label-after-shadow-lighttheme);
    transition: 0.9s;
}

#checkbox {
    position: relative;
    left: -9999px;
}

input:checked + label {
    background: var(--label-bg-color-darktheme);
    border: var(--label-border-width) solid var(--label-border-color-darktheme);
}

input:checked + label:hover {
    box-shadow: var(--label-shadow-darktheme);
}

input:checked + label::after {
    background: var(--label-after-color-darktheme);
    box-shadow: var(--label-after-shadow-darktheme);
    transform: translateX(calc(100% + 4.2px));
}

.container > h1,
.container > p {
    text-align: center;
    transition: 1s;
}

.container > h1 {
    font-size: calc(var(--font-size) * 1.5);
    color: var(--head-color-lighttheme);
}

.container[lang="be"] > h1::before {
    content: "***";
    display: block;
    font-size: var(--font-size);
    font-weight: 100;
}

.container > p {
    font-size: calc(var(--font-size) * 1.125);
    color: var(--text-color-lighttheme);
}

.container > p:last-child {
    margin-bottom: 40px;
}

@media all and (min-width: 1800px) {
    .wrapper {
        height: 100vh;
    }
}

/*Add dark mode*/
body.dark {
    background: var(--body-color-darktheme);
}

.container.dark > h1 {
    color: var(--head-color-darktheme);
}

.container.dark > p {
    color: var(--text-color-darktheme);
}